<% if notice %>
<alert class="alert alert-info alert-full" ><%= notice %></alert>
<% end %>

<div class="center-content">

  <h1>Noticias</h1>

  <section class="grid grid-center">
    <% @news.each do |n| %>
      <div style="position: relative;">
        <h4>
          <%= link_to n.title, n, :style => "color: #fff;" %>
        </h4>
      </div>
    <% end %>
    <span style="display:block;clear:both;"></span>
  </section>

</div>
