// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.main,
.main-form form {
	width: 400px;
	max-width: 95%;
	text-align: center;
	padding: 20px;
}

form.center {
	margin: 0 auto;
	margin-top: 6%;
}

form.main fieldset,
.main-form form fieldset {
	border: none;
	text-align: left;
}

form.main input,
.main-form form input {
	width: 100%;
	padding: 7px;
	font-size: 15px;
	border: 1px solid #fff;
}

form.main input:focus,
.main-form form input:focus {
	outline: none;
	border-color: #5FC2FA;
}

form.main input[type="submit"],
.main-form form input[type="submit"]{
	background-color: #5FC2FA;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 15px;
}

form.main > h2, h3, h4,
.main-form form > h2, h3, h4 {
	padding: 20px;
}
