<% if notice %>
<alert class="alert alert-info alert-full" ><%= notice %></alert>
<% end %>

<h1>Actores</h1>

<section class="grid">
  <% @actors.each do |actor| %>
    <%= link_to actor do %>
      <h4>
        <%= actor.name %>
      </h4>
    <% end %>
  <% end %>

  <span style="display:block;clear:both;"></span>
</section>

<%- if user_signed_in? && current_user.role == "Admin" %>
Herramientas de administrador 
<%= link_to '+ Crear nuevo actor', new_actor_path, class: "bright" %>
<% end -%>
